body, html {
    margin: 0 auto;
    font-family: sans-serif;
    font-weight: lighter;
}
body {max-width: 80vw;}
h1 {
    font-size: 1.5em;
    color: #ed8907;
    font-weight: lighter;
}
html {font-family: sans-serif;}

/* Accordion */
#accordionBox {
    background: #fff;
    height: auto;
    margin: 0 1em;
    padding: 1em;
    border: .01em solid #ed8907;
}
#accordionBox a {
    display: block;
    background: #ed8907;
    padding: 1em;
    color: #fff;
    text-decoration: none;
}
#accordionBox a:hover {
    background-color: #f4b71c;
}
#accordionBox p {padding: 0 1em;}
.accordionOpen {
    border-radius: 1em 1em 0 0;
    background-color: #f4b71c;
}
.plus1::before {
    display: block;
    content: "+ What Is Graphic Design?"
}
.plus2::before {
    display: block;
    content: "+ Graphic Design Project"
}
.plus3::before {
    display: block;
    content: "+ Graphic Design Elements"
}
.minus1::before {
    display: block;
    content: "- Graphic Design Is...";
}
.minus2::before {
    display: block;
    content: "- A Graphic Design Project..."
}
.minus3::before {
    display: block;
    content: "- Graphic Design Elements..."
}